@import "https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap";
* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
a {
  text-decoration: none;
  color: #fff;
}
a:hover {
  color: #fff;
}
body {
  background-color: #111;
}
.bg-yellow {
  position: absolute;
  background-color: #ffb400;
  clip-path: polygon(0 0, 12.1% 0, 25.4% 100%, 0% 100%);
  height: 100%;
  width: 100%;
  z-index: -1;
}
.container-fluid {
  width: 100%;
  max-height: 100vh;
  margin: auto;
}
.row {
  place-items: center;
}
#profile-image {
  margin: 40px;
  z-index: 11;
  min-height: 90vh;
  background-position: center;
  background-image: url(./profile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 0 7px rgb(0 0 0 / 90%);
  width: 32%;
  position: relative;
  border-radius: 30px;
}
#profile-image img {
  display: none;
}
#profile-image::before {
  position: absolute;
  border-radius: 30px;
  opacity: 0.4;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000;
}
#about {
  color: #fff;
}
#about h1 {
  text-align: center;
  font-size: 42px;
  font-weight: 700;
}
#about h1 span:nth-child(1) {
  display: inline-block;
  background: #ffb400;
  width: 10%;
  height: 5px;
  margin-bottom: 12.5px;
  border-radius: 20px;
}
#about h1 span {
  color: #ffb400;
}
#about p {
  margin: 55px 10px;
  font-size: 20px;
}
button {
  border: 1px solid #ffb400;
  border-radius: 30px;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  transition: 0.7s;
  position: relative;
  z-index: 5;
  margin-left: 10px;
}
button::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background-color: #ffb400;
  width: 26%;
  height: 100%;
  border-radius: 30px;
  transition: 0.5s;
  z-index: -1;
}
button:hover::after {
  width: 100%;
}
button a {
  display: inline-block;
  font-size: 20px;
  color: #fff;
  padding-left: 20px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
}
button a:hover {
  color: #fff;
}
button i {
  padding: 10px 25px;
  padding-top: 15px;
  border-radius: 30px;
  font-size: 25px;
}

#icons {
  color: #fff;
  width: fit-content;
}
#icons ul li {
  position: relative;
  text-align: right;
  margin: 30px auto;
  cursor: pointer;
}
#icons ul li::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  border-radius: 20px;
  background-color: #ffb400;
  width: 0;
  transition: 0.5s;
  z-index: -1;
}
#icons ul li:hover::after {
  width: 100%;
}
#icons ul li a span {
  font-size: 20px;
  opacity: 0;
  transition: 0.3s;
}
#icons ul li:hover a span {
  opacity: 1;
}
#icons ul li a i {
  font-size: 15px;
  padding: 20px;
  margin-left: 20px;
  border-radius: 50%;
  transition: 0.5s;
}
#icons ul li:hover a i {
  background-color: #ffb400;
}
#portfolio-icon,
#contact-icon,
#home-icon {
  background-color: #222222;
}
#about-icon {
  background-color: #ffb400;
}

/* Tablet Responsive */
@media (max-height: 1024px) {
  #profile-image {
    width: 22%;
    max-height: 40vh;
  }
  #about h1 {
    font-size: 30px;
}
#about p {
    font-size: 20px;
}
}

/* Phone Responsive */
@media (max-width: 1024px) {
.bg-yellow {
    display: none;
}
#profile-image {
    border-radius: 50%;
    min-width: 50%;
    min-height: 30vh;
    margin: 50px auto;
    box-shadow: none;
    background: none;
}
#profile-image::before {
    display: none;
}
#profile-image img {
    display: block;
    border-radius: 50%;
    height: 220px;
    margin: auto;
}
#about {
    text-align: center;
}
#about h1 {
    font-size: 30px;
}
#about h1 span:nth-child(1) {
    display: none;
}
#about p {
    text-align: left;
    width: fit-content;
    margin: 20px auto;
    font-size: 15px;
}
button {
    margin: 30px auto;
}
#icons {
    width: 100%;
    display: block;
    height: 10%;
    background-color: rgb(48, 48, 48);
}
#icons ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#icons ul li {
    margin: 10px auto;
}
#icons ul li a span {
    display: none;
}
}